/* ================ OWL SLIDER BANNER ================ */



.owl-nav{
	.owl-prev, .owl-next { top:49%;
		background:#eadcff;
		display:inline-block; 
		width: 44px; height: 44px;
		line-height: 44px; border-radius: 50px;
	    &:hover{ background-color: $primary; border-color:$primary; color:#fff; transition: .2s; }
	}
}