///// ELEMENTS ONLY FOR HOME PAGE
.section-intro{  
	background-color:$primary;
	border-bottom-right-radius:120px; overflow: hidden;
	min-height:580px; padding-top:60px; padding-bottom:60px;
	background-size:cover;
	background-position:bottom center;
	.container{ position:relative; z-index:5; }

}


.section-info-home{
	overflow:hidden;
}

.intro-wrap{ margin-top:100px; margin-bottom:30px; }

.intro-wrap{
	.title-intro { margin-bottom: 20px; font-family: 'Nunito', sans-serif; font-size:60px; font-weight: 500;  }
}

.section-features{
	padding-bottom:220px;
}

.item-feature-home{ text-align:center; margin-left:10%; margin-right:10%;
	.icon-shape{
		display:inline-flex; align-items:center; justify-content:center; 
		background-color:$primary; width:160px; height:160px; border-radius:100%; text-align:center; 
		margin-bottom:20px;
		img{  max-height: 80px; }
	}
	.title{ font-weight: 500; font-family: 'Nunito', sans-serif;}
	p{ color:rgba($dark, .65)}
}

.block-video-home{
	position:relative;
	background:#fff;  border-radius:$border-radius-lg;
	max-width:600px; min-height:350px; margin-left:auto; margin-right:auto; 
	margin-top:-180px;
	overflow:hidden;
	a{ display:block}
	img{ width:100%;}


	.icon-play{
		z-index:10;
	    transition:.2s;
	    background-image:url('../images/icons/icon-play.svg');
	    background-repeat:no-repeat; 
	    background-position:center;
	    position:absolute; 
	    width:90px; height:90px;
	}

	&:hover{
		 img{ opacity:.86}
	}

}

