///// ELEMENTS ONLY FOR HOME PAGE
.section-intro{  
	background-color:$bg-light;
	border-bottom-right-radius:120px; overflow: hidden;
	min-height:580px; padding-top:60px; padding-bottom:60px;
	background-size:cover;
	background-position:bottom center;
	.container{ position:relative; z-index:5; }

}


.section-info-home{
	overflow:hidden;
}

.intro-wrap{ margin-top:100px; margin-bottom:30px; }

.intro-wrap{
	.title-intro { margin-bottom: 20px; font-family: 'Nunito', sans-serif; font-size:60px; font-weight: 500;  }
}

.section-category-home{
	padding-bottom: 60px;
}

.item-category{
	padding: 1rem 1.2rem; background:#fff; width: 100%; margin-bottom:20px;  color:$dark; 
	box-shadow: 0 1px 2px rgba(0,0,0,0.1); height:76px; border:1px solid $card-border-color;
	border-radius: $border-radius;
	.text{ line-height:1.4; font-weight: 600; }
	.icon{
		display: flex;
	    align-items: center; background-color: $primary;
	    justify-content: center; flex-shrink: 0;
	}

	&:hover{
		.icon{ background-color:$primary-light; }
		border-color: rgb(194, 194, 194);
	}
}

.item-feature-home{ margin-bottom:45px;
	.icon-shape{
		display:block;
		background-color:#E3F5FF; width:90px;; height:90px; border-radius:100%; text-align:center; line-height:90px;
	}
	.title{ font-weight: 500; font-family: 'Rubik', sans-serif;}
}

.author-comment{ min-height: 70px;
	padding-left:70px; position: relative;
	.icon-user{ position: absolute; left:0; top:0; background: #ddd; color:#999}
	.name{ margin-bottom: 3px;}
	.job{ color:#999}
}