/* ================ PAGES HEADER ================== */
.section-pagetop{ overflow: hidden;
    .container{ position: relative;}
    .bg-icon{ position: absolute; right: 0; top:0px; opacity: .7; float:right}
}